.game-card-header {
    height: 10vh;
    width: auto;
    background: #ffe008;
    background: #ffe0089e;
    font-size: xx-large;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    font-size: smaller !important;
}

.game-card-header strong {
    text-transform: uppercase;
}
